<!DOCTYPE html>
<html>

<head>
    <title>Chellophane::Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src="js/login.js"></script>

</head>

<body>
    <section class="hero is-primary is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                        <div class="box">
                            <div class="field has-text-centered">
                                <img src="img/logo.png" alt="text" width="100">
                            </div>

                            <div class="field">
                                <label class="label">Email</label>
                                <div class="control has-icons-left">
                                    <input class="input" id="email_input" name="email_input" type="email" placeholder="e.g user@email.com" required>
                                    <span class="icon is-small is-left">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                    <p class="help has-text-danger" id="loggin_error_email"></p>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">Password</label>
                                <div class="control has-icons-left">
                                    <input class="input" id="password_input" name="password_input" type="password" placeholder="************" required>
                                    <span class="icon is-small is-left">
                                        <i class="fa fa-lock"></i>
                                    </span>
                                    <p class="help has-text-danger" id="loggin_error_pwd"></p>
                                    <p class="help has-text-danger" id="logging_error_msg"></p>
                                </div>
                            </div>

                            <div class="field">
                                <button class="button is-success" id="login_button">
                                    Login
                                </button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</body>

</html>